.logout__button {
    position: absolute;
    top: 33%;
    right: 5%;
}

.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    color: #8B7969;
    font-family: serif;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
}

.search-form__item {
    display: flex;
    width: 90%;
}

.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 90%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.search-form__button {
    width: 20%;
    display: flex;
}

.search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
}

.search-form__button-reset {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #D9C6B5;
    color: #fff;
    cursor: pointer;
}

.export {
    margin: 30px auto -60px auto;
    width: 90%;
    text-align: left;
}

.export__button {
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #E1DBD699;
    color: #8B7969;
    cursor: pointer;
}

.admin-table {
    margin: 30px auto;
    width: 90%;
    text-align: left;
}

.admin-table__inner {
    width: 100%;
}

.admin-table__row {
    border: 1px solid #ddd;
}

.admin-table__header:first-of-type {
    padding-left: 30px;
}

.admin-table__header {
    padding: 10px 0;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background-color: #8B7969;
}

.admin-table__header-span {
    margin-right: 10%;
}

.admin-table__item:first-of-type {
    padding-left: 30px;
}

.admin-table__item {
    width: 18%;
    white-space: nowrap;
}

.admin-form__itme-p {
    text-align: left;
    color: #8B7969;
}

.detail-form__button {
    width: 60px;
    margin: 0 auto;
}

.detail-form__button-submit {
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    background: #F4F4F44D 30%;
    color: #8B7969;
    border-color: #D9C6B599;
    cursor: pointer;
    white-space: nowrap;
}

.pagination {
    display: flex;
    justify-content: end;
    border-width: 0;
}

.pagination li {
    border-style: solid;
    padding: 5px 10px;
}