.header {
    border-bottom: 1px solid #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1512px;
    text-align: center;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-size: 26px;
    font-family: serif;
}