.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
    font-family: serif;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 15px;
    text-align: left;
}

.form__group-title {
    white-space: nowrap;
    width: 35%;
}

.form__group-content {
    width: 65%;
}

.form__label--item,
.form__input--text--split span {
    color: #8B7969;
}

.form__label--required {
    color: #ff000099;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input--text--split,
.form__select {
    width: 100%;
    white-space: nowrap;
    appearance: none;
}

.form__input--text--split input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form__input--text-name {
    width: 45%;
}

.form__input--text-name:first-of-type {
    margin-right: 10%;
}

.form__input--text-tell {
    width: 31%;
}

.form__input--text input,
.form__input--text--split input,
.form__select select,
.form__input--textarea textarea {
    height: 40px;
    background-color: #F4F4F4;
    border: none;
}

.item-select {
    width: 50%;
}

::placeholder {
    color: #BEB1A6;
}

select option:first-child {
    color: #BEB1A6;
}

select:invalid {
    color: #BEB1A6;
}

select option {
    color: #000066;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__input--radio{
    padding: 10px;
    width: 100%;
    color: #8B7969;
}

.form__input--radio input:checked {
    accent-color: #8B7969;
}

.form__input--radio label {
    margin-right: 50px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}